[Unit]
Description=WebTerm

[Service]
WorkingDirectory=/fix/me/INGInious-xterm/src/
ExecStart=/usr/bin/npm start 0.0.0.0 3000 my.ip.adress.or.hostname:64000-64100

Restart=always
StartLimitInterval=30
StartLimitBurst=3 

[Install]
WantedBy=multi-user.target
