[Unit]
Description=WebTerm

[Service]
WorkingDirectory=/home/chaow/grader/xterm
ExecStart=/usr/bin/npm start 0.0.0.0 3000 my.ip.adress.or.hostname:64000-64200

Restart=always
StartLimitInterval=30
StartLimitBurst=3 

[Install]
WantedBy=multi-user.target
